body {
  font-family: 'Montserrat', sans-serif;
  color: #5b5b5b;
  background-color: #E8E8E8;
  overflow: hidden;
}

.signup {
  background-color: white;
  border: 0.5px solid #9e9e9e;
  -webkit-box-shadow: 0 0 50px #8e8e8e;
  -moz-box-shadow: 0 0 50px #8e8e8e;
  box-shadow: 0 0 50px #8e8e8e;
  padding: 100px 75px 130px 75px;
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 600px;
  height: 350px;
}

h2 {
  font-size: 70px;
  margin: 0;
}

p {
  font-size: 28px;
}

input {
  display: block;
  font-size: 18px;
  margin: auto;
  margin-bottom: 30px;
  width: 575px;
  border-bottom: 1px solid #D0CFCE;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}

button {
  background-color: #F9AFA2;
  font-size: 20px;
  padding: 5px 25px 6px 25px;
  width: 150px;
  height: 40px;
}

.hex {
  margin: 0 10px 0 10px;
}

.hex-line-1 {
  margin-left: 45px;
}

.hex-line-2 {
}

.hex-line-3 {
}

.hex-line-4 {
}

.hex-line-5 {
}
